body {
}
order {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: green;
    background-color: #fff0f5;
    font-weight: bold;
}
